
h1 {
    font-family: 'Sorts Mill Goudy', serif; font-size: 42px; color: #cecece;
}
h2 {
    font-family: 'Spectral', serif; font-size: 42px; font-weight: 400; font-style:italic;
}
h3 {
    font-family: 'Spectral', serif; font-size: 22px;
}
h4 {
    font-family: 'Arial', sans-serif; text-transform: lowercase; font-size: 24px;
    line-height: 27px;
}
h5 {
    font-family: 'Spectral'. serif; font-style: italic;  font-size: 14px;
}
h6 {
    font-family: 'Cousine', monospace; font-size: 21px;
}
p {
    font-family: 'Spectral', serif; font-size: 14px; font-weight: 400;
}

/* #letterpress {
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #222;

} */
body {
  background-color: #d8d8d8;
}

.engrave {
    color: #b7b7b7;
    font-size:72px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.4), 0px -1px 0px rgba(0,0,0,.5);
}


a:link {
    color: #b7b7b7;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #b7b7b7;
    background-color: transparent;
    text-decoration: none;
}


a:hover {
    color: none ;
    background-color: transparent;
    text-decoration: none;
    font-style: none;
    font-size: 98.5%;
}

a:active {
    color: #b7b7b7;
    background-color: transparent;
    text-decoration: none;
    font-style: none;
}

#content {
  display: grid;
  grid-template-rows: repeat(3, minmax(250px, auto));
  grid-auto-rows: 900px;  /* Makes each row a set height reguardless of content */
  /*grid-auto-rows: minmax(200px, auto); */ /* Sets min height off 200px but if content goes more than 200px then auto height relative to content*/
  grid-auto-columns: minmax(140px, auto); /* Sets Width of blocks */
  grid-column-gap: 10px; /* Sets gap only between grid blocks, not completely around */
  grid-row-gap: 10px;
  /* grid-gap: 10px; */ /* Sets gap space between both colums and rows */
  max-width: 960px;
  /* margin: 0 auto; */ /* Sets margins all the way around the grid blocks */
}
/* #content div {
  background: #3bbced;
  padding: 30px;
}
#content div:nth-child(even) {
  background: #777;
} */
.one{
  /* grid-column-start: 1;
  grid-column-end: 3; */
  margin-top: 20px;
  margin-left: 50px;
  grid-column: 1 / 3; /* Same as writing the above 2 columns seperatly */
}
.two{
  grid-column: 3 / 7;
}
.three{
  grid-column: 3 / 7;
}
 #center-text {
   text-align: center;
 }
 #center-list {
   text-align: left;
   list-style-position: inside;
 }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




#center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
