
h1 {
    font-family: 'Sorts Mill Goudy', serif; font-size: 42px;
}
h2 {
    font-family: 'Spectral', serif; font-size: 42px; font-weight: 400; font-style:italic;
}
h3 {
    font-family: 'Spectral', serif; font-size: 22px;
}
h4 {
    font-family: 'Arial', sans-serif; text-transform: lowercase; font-size: 24px;
    line-height: 27px;
}
h5 {
    font-family: 'Spectral'. serif; font-style: italic;  font-size: 14px;
}
h6 {
    font-family: 'Cousine', monospace; font-size: 14px;
}
p {
    font-family: 'Spectral', serif; font-size: 14px; font-weight: 400;
}


a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: none ;
    background-color: transparent;
    text-decoration: none;
    font-style: none;
    font-size: 98%;
}

a:active {
    color: grey;
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
}




/* body {
  background-image: url("https://raw.githubusercontent.com/nicocrozier/nicocrozier/master/background.jpg");
  

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


#center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
