
@font-face {
  font-family: 'FuturaLT-Book';
  src: url('FuturaLT-Book.eot?#iefix') format('embedded-opentype'),  url('FuturaLT-Book.woff') format('woff'), url('FuturaLT-Book.ttf')  format('truetype'), url('FuturaLT-Book.svg#FuturaLT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
